
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeMuted.tiff
Simple LR Browser.app/Contents/Resources/XojoLangRefDB 2021r3.1
Simple LR Browser.app/Contents/Resources/XojoLangRefDB 2020r2.1
Simple LR Browser.app/Contents/Resources/XojoLangRefDB 2019r1.1
Simple LR Browser.app/Contents/PkgInfo
Simple LR Browser.app/Contents/MacOS/Simple LR Browser
Simple LR Browser.app/Contents/Info.plist
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/XojoFramework
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/Current
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/XojoFramework
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/zh-TW.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/zh-CN.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/XOJTooltipController.nib/keyedobjects.nib
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/XOJTooltipController.nib/keyedobjects-101300.nib
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/XOJPrintProgressDialog.nib/keyedobjects.nib
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/XOJPrintProgressDialog.nib/keyedobjects-101300.nib
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeWindow.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeSliderTrack.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeSliderKnob.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeOff.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeMedium.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeLow.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeHigh.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/uk.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/tr.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/th.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/sv.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/StepForward.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/StepBackward.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/sk.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackUnloadedRight.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackUnloadedMiddle.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackUnloadedLeft.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackLoadedRight.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackLoadedMiddle.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackLoadedLeft.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberKnob.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ru.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ro.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pt-PT.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pt-BR.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/Play.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pl.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/Pause.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/NorthWestSouthEastCursor.pdf
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/NorthSouthCursor.pdf
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/NorthEastSouthWestCursor.pdf
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/no.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/nl.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/MagnifySmallerCursor.pdf
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/MagnifyLargerCursor.pdf
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/MacWaitCursor.pdf
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ko.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ja.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/it.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/InvisibleCursor.png
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/Info.plist
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/hu.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/hr.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/he.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/fr.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/FileTypeChooser.nib/keyedobjects.nib
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/FileTypeChooser.nib/keyedobjects-101300.nib
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/fi.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/es.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/en.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/en.lproj/InfoPlist.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/el.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/EastWestCursor.pdf
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/de.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/da.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/Cursors.plist
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/cs.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ControllerBackgroundRight.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ControllerBackgroundMiddle.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ControllerBackgroundLeft.tiff
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ca.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ar.lproj/Localizable.strings
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/AllDirectionsCursor.pdf
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/_CodeSignature/CodeResources
Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Resources
Simple LR Browser.app/Contents/Frameworks/SQLiteDatabase.dylib
Simple LR Browser.app/Contents/Frameworks/HTMLViewerCocoa.dylib
Simple LR Browser.app/Contents/_CodeSignature/CodeResources
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/_CodeSignature/CodeResources
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/HTMLViewerCocoa.dylib
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/SQLiteDatabase.dylib
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Resources
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/_CodeSignature/CodeResources
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/AllDirectionsCursor.pdf
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ar.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ca.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ControllerBackgroundLeft.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ControllerBackgroundMiddle.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ControllerBackgroundRight.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/cs.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/Cursors.plist
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/da.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/de.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/EastWestCursor.pdf
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/el.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/en.lproj/InfoPlist.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/en.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/es.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/fi.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/FileTypeChooser.nib/keyedobjects-101300.nib
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/FileTypeChooser.nib/keyedobjects.nib
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/fr.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/he.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/hr.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/hu.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/Info.plist
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/InvisibleCursor.png
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/it.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ja.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ko.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/MacWaitCursor.pdf
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/MagnifyLargerCursor.pdf
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/MagnifySmallerCursor.pdf
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/nl.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/no.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/NorthEastSouthWestCursor.pdf
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/NorthSouthCursor.pdf
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/NorthWestSouthEastCursor.pdf
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/Pause.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pl.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/Play.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pt-BR.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pt-PT.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ro.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ru.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberKnob.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackLoadedLeft.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackLoadedMiddle.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackLoadedRight.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackUnloadedLeft.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackUnloadedMiddle.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ScrubberTrackUnloadedRight.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/sk.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/StepBackward.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/StepForward.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/sv.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/th.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/tr.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/uk.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeHigh.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeLow.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeMedium.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeMuted.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeOff.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeSliderKnob.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeSliderTrack.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/VolumeWindow.tiff
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/XOJPrintProgressDialog.nib/keyedobjects-101300.nib
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/XOJPrintProgressDialog.nib/keyedobjects.nib
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/XOJTooltipController.nib/keyedobjects-101300.nib
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/XOJTooltipController.nib/keyedobjects.nib
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/zh-CN.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/zh-TW.lproj/Localizable.strings
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/A/XojoFramework
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/Versions/Current
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Frameworks/XojoFramework.framework/XojoFramework
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/Info.plist
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/MacOS/Simple LR Browser
Builds - simple lr viewer/OS X 64 bit/Simple LR Browser.app/Contents/PkgInfo
Simple LR Browser.app/Contents/Resources/App.icns
Simple LR Browser.app.zip
